* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;

}

.download {
	padding-top: 5%;
	text-align: center;
	font-size: 3.2em;
	color: #4c4cff;
}

.users {
	text-align: center;
	font-family: "hangedletters";
	font-size: 1.8em;
	color: #27435a;

}
#brand {
	font-family: lactosa;
	font-size: 25px;
	padding-left: 20px;
	padding-top: 20px;
}

/*downloaded fonts */
@font-face {
	font-family: "lactosa";
	src: url("../fonts/lactosa.otf");
}

@font-face {
	font-family: "hangedletters";
	src: url("../fonts/hangedletters.ttf");
}



.firstnav {
	background-color: white;
	width: 100%;
	height: 60px;
}

#secondnav {
	height: 50px;
	background-color: #3f3f3f;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

#first-bg {  
	color: skyblue;
	position: relative;
	height: 700px;
	background: url(../../assets/images/search.jpg) no-repeat;
	background-size: cover;

}

#search{
	margin-top: 20%;
	margin-left: 35%;
}

#form {
	width: 30em;
	height: 3.2em;
}

.btn {
	background-color: #99cc99;
	color: black;
	height: 3.2em;
	width: 5em;
}

.download {
	font-family: 'Oswald', sans-serif;
}

/*footer*/

footer {
	background-color: #bdbdbd;
	color: #000;
	bottom: 0;
	margin-bottom: 0;
	font-size: 15px;
	margin-top: 0;
	width: 100%;
	height: 70px;
	word-spacing: 10px;
	text-align: center;
	padding-top: 10px;
}





































/*Media Queries */
@media (max-width: 575.98px) { ... }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/*Large devices (desktops, less than 1200px*/)
@media (max-width: 1199.98px) { ... }
