
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;

}

#nav {
	z-index: 9999999 !important;
}

#nav-collapse {
	background-color: #f8e7e8;;
}

/*main*/

h1 {

	font-family: "sunrise";
	font-size: 6em;
	color: #8a79b2;

}

.subtitle {
	font-family: "future";
	font-size: 1em;
}


/*navigation*/
.nav1 {
	padding: 0;
	margin: 0;
}

#topnav{
	height: 30px;
	width: 100%;
	background-color: #f8e7e8;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.icon {
	height: 30px;
	width: 30px;
	float: left;
	padding: 0;
}


.navbar-brand {
	font-family: lactosa;
	font-size: 25px;
	padding-left: 20px;
}

#dropdown {
	background-color: #f8e7e8;
}


/*body*/
.titleslide {
	color: white;
	font-size: 2em;
	top: 50%;

}

.card {
	width: 10em;
}

.card-body {
    padding: 0.5em;
}

.card-img-top {
	height: 300px;
	width: 100%;
}

.card {
	background-color: #F4DECB;
	border: 1px solid #000;
	border-radius: 0;
	/*height: 100%;*/
}



/*downloaded fonts*/
@font-face {
	font-family: "nirvana";
	src: url("../fonts/nirvana.ttf");
}

@font-face {
	font-family: "lactosa";
	src: url("../fonts/lactosa.otf");
}

@font-face {
	font-family: "type-ra";
	src: url("../fonts/type-ra.otf");
}

@font-face {
	font-family: "sunrise";
	src: url("../fonts/sunrise.ttf");
}

@font-face {
	font-family: "future";
	src: url("../fonts/future.ttf");
}




#body-con {
	background-color: #f8e7e8;
}

#sec3 {
	padding: 10px 10px 20px 10px;
}

.booktitle, .booktitle2 {

	font-family: "nirvana";
	font-size: 1.5em;

}

.booktitle2 {
	margin: 10px 10px;
}



















/*Footer*/



.footer2 {
	height: 30px;
	width: 100%;
	background-color: #C08283;
	margin-bottom: 0;
	color: #000;
	text-align: center;
	font-style: couture;
	padding-top: 5px;
	padding-bottom: 5px;

}


footer {
	background-color: #bdbdbd;
	color: #000;
	bottom: 0;
	font-size: 15px;
	margin-top: 0;
	width: 100%;
	height: 70px;
	word-spacing: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0;
}


a {
	color: #f8e7e8;
}

a:hover {
	color: red;
}

p#foot-email {
	margin-bottom: 0;
}

.fab {
	background-color: #C09F80;
	height: 1em;
	padding-bottom: 10px;
}

















/*Media Queries */
@media (max-width: 575.98px) { ... }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/*Large devices (desktops, less than 1200px*/)
@media (max-width: 1199.98px) { ... }